@import 'sass/variables.scss';

#cartPopup {
  margin-top: 40px;
  padding-top: 20px;
  color: white;
  background-color: transparent;
  min-width: 15%;
  height: 100%;
}

.cart-mobile-hidden {
    @media screen and (max-width: $mobile-break-point) {
        display: none;
    }
}

.title {
	display: flex;
    justify-content: center;
    margin-bottom: 0px; 
    background-color: #6a7278;
    padding: 10px;
}

.subtitle{
    //display: flex;
    margin-bottom: 10px; 
    background-color: #6a7278;
    padding: 10px;
}

#orderTotal{

}

#clearOrder {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #000;
    font-size: 35px;
    font-weight: bold; 
}
#clearOrder:hover,
#clearOrder:focus {
    color: red;
    cursor: pointer; 
}

.orderimg{
	width: 40px;
    object-fit: cover;
    flex: 0 0 auto;
}
.i1name {
	margin-bottom: 0px;
    margin-top: 0px;
}
.i1price{
	display:inline;
	margin-top: 0px;
	margin-bottom: 0px;
}	

.cart-item {
    margin-bottom: 20px; 
}

.cart-item img {
  position: absolute;
}

.cart-fillup {
    width: 15%;
}

.square {
    width: 80%;
    max-width: 180px;
    height: 65px;
    padding-left: 10px;
    padding-right: 10px; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #222;
    display: flex;
    font-size: 14px;
    justify-content: left;
}

.content {
    text-align: left; 
    margin-left: 10px;
    margin-right: 15px;
    padding: 0px;
    position: relative;
    width: 100%;
}

.content .amount {
   margin-bottom:0px;
   position: absolute;
   right: 0px;
   bottom: 0px;
}

.content .amount i {
    color: black;
    background-color: white;
    padding-left: 2.5px;
    padding-right: 2.5px;
    border-radius: 0.5em;
}

.btn-grp {
	display: flex;
}
#square2 {
	display: none;
}
.fa.fa-plus {
	cursor: pointer;
    margin-left: 10px;
}
.fa.fa-minus {
	cursor: pointer;
    margin-right: 10px; 
}
.category-tab {
	cursor:pointer;
} 

