@import 'vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|Lato');

$theme-nav-color: #152441;
$theme-sec-color: #ffd446;
$tab-color: #2f2421;
$tab-selected-color: #ffd446;

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$lobster: 'Lobster', cursive;
$pacifico: 'Pacifico', cursive;
$lato: 'Lato', sans-serif;


h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: $lato;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.hidden {
	display: none;
}

a {
	color: white;
}

.search-control {
	background-color: #ddd;
}

.navbar {
	margin: 0;
	padding-bottom: 0;
	border-color: white;
	border-width: 0;
	border-radius: 0;
	background-color: black;
	color: white;
	opacity: 0.8;
}

.navbar-brand {
	color: white;

	>li>a {
		color: white;
	}
}

.navbar-default .navbar-nav {

	&>.active>a {
		color: white;
		background-color: #aaa;
	}

	&>li>a {
		color: white;
	}
}


#menu {

	background-color: #4f4844;

	.row-wrapper {
		display: flex;
		justify-content: space-between;
		max-width: 82%;
	}

	.search-bar {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		.wrapper {
			position: relative;
		}

	}

	.float-right {
		position: absolute;
		right: 5px;
		top: 10px;
	}

	.side-bar {
		padding-top: 20px;
	}

	.category-bar {
		padding-top: 30px;
	}

	.category-tab {
		position: relative;
		margin-bottom: 35px;

		.rectangle {
			width: 10em;
			height: 50px;
			background-color: $tab-color;
			display: flex;
			align-items: center;
			padding-left: 1em;

			a {
				font-size: 26px;
			}
		}
	}

	.category-tab.selected {
		.rectangle {
			background-color: $tab-selected-color;
			color: black;
		}
		.arrow-right {
			border-left: 25px solid $tab-selected-color;
		}
	}

	.category-tab-bg {
		display: flex;
	}

	.first-cate-band {

	}

	.second-cate-band {
		margin-top: 80px;
	}

	.third-cate-band {
		margin-top: 165px;
	}

	.arrow-right {
		width: 0; 
		height: 0; 
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid $tab-color;
	}

	.item-collection {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		max-width: 700px;
		margin-top: 30px;
		margin-left: 30px;
	}

	.item-card {
		padding-top: 0px;
		position: relative;
		img {
			width: 180px;
			height: 180px;
			object-fit: cover;
			border-radius: 0px 0px 10px 10px;
		}
		margin: 15px 15px 15px 15px;
		border-radius: 0px 0px 10px 10px;
		//border-style: solid;
		//border-width: 1px;
		//border-radius: 0px;
		//border-color: #ccc;
	}

	.card-cap {
		padding: 5px;
		border-radius: 0px 0px 10px 10px;
		background-color: rgba(231, 231, 231, 0.5);
		color: #555;
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

	.bar-wrapper {
		display: flex;
	}

	.brand-bar {
		padding-top: 20px;
		padding-left: 20px;
	}

	.sub-title {
		margin-bottom: 20px;
		color: white;
	}

	.fa-large {
		font-size: 15pt;
	}

	.item-detailed {
		margin-top: 40px;
		color: white;
	}

	.detailed-card {
		width: 80%;
		height: 500px;
		background-color: #000;
		box-shadow: 10px 10px 5px #333;
		position: relative;

		.close-btn {
			position: absolute;
			right: -10px;
			top: -10px;
			height: 30px;
			width: 30px;
			border-radius: 15px;
			background-color: red;
			display: flex;
			align-items: center;
			justify-content: center;

			b {

			}
		}

		.drink-name {

		}

		.drink-price {
			color: $theme-sec-color;
			margin-bottom: 40px;
		}

		.drink-description {
			color: #ccc;
		}

		.add-cart-btn {
			border-radius: 0;
			border-color: $theme-sec-color;
			background-color: transparent;
			color: $theme-sec-color;

			i {
				margin-right: 10px;
				font-size: 18px;
			}
		}
	}

	.detailed-img-wrapper {
		padding: 0;

		img {
			width: 100%;
			height: 500px;
			object-fit: cover;
		}
	}

	.detailed-info-wrapper {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;
	}

	.cart-popup {
		position: absolute;
		right: 0px;
	}

}

#about {

	.bg-img {
		height: 100vh;
		width: 100vw;
		object-fit: cover;
	}

	.bg-wrapper {
		position: relative;
	}

	.float-intro {
		position: absolute;
		top: 120px;
		right: 20px;
		width: 45%;

		.title {
			font-size: 50px;
			margin-bottom: 20px;
			font-family: $pacifico;
			color: white;
			border-color: black;
		}

		p {
			width: 70%;
			margin-left: 10px;
			font-family: $lato;
			color: #bbb;
		}

		.btn {
			background-color: $theme-sec-color;
			color: white;
			font-size: 20px;
			font-family: $lato;
			border-radius: 0;
			border: 0;
			margin-top: 40px;
			margin-left: 10px;
			padding-left: 20px;
			padding-right: 20px;
			width: 10em;
		}
	}
}