@import 'sass/variables.scss';
@import 'sass/common.scss';

#menu {
	margin: 0px;
	background-color: #35373c;

	.tab {
		color: white;
		font-size: 20pt;
	}

	.form-control {
		width: 100%;
		height: 34px;
		padding: 1px 10px;
		font-size: 14px;
		line-height: 1.42857;
		color: #555555;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	/*Align plus button to right*/
	#addplus {
		float: right; 
		margin-bottom: 0px;}
	  #cardname {
		margin-top: 5px;
		margin-bottom: 5px;}
	  .pricetag {
		display: inline;
		margin-bottom: 0px;}
	  .drink{
		margin: 3px;
		margin-bottom: 0px }  	
	  .desc {
		display: none;}
	  .detailpic {
		display: none;}

	#pricetag {
		display: inline;
	}

	#kr {
		display: inline;
	}

	.menucard {
		margin: 10px;
		//box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.menucard:hover{
		//box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.menucardcontainer {
		padding: 0.01em 16px;
    padding-bottom: 8px;
    max-width: 210px;
    background-color: grey; 
    margin-top: -5px;
   -webkit-filter: drop-shadow(5px 5px 5px #111);
    filter: drop-shadow(5px 5px 5px #111); 
    }

		#cardname {
			margin-bottom: 5px;
			margin-top: 2px;
			color: white;
			text-align: center;
		}

		#pricediv {
			width: 100%;
			text-align: center;
			margin-bottom: 5px;
		}

		#pricetag {
			color: $theme-sec-color;
		}

		#kr {
			color: $theme-sec-color;
		}
	

	.select {
		position: absolute;
		cursor: pointer;
	}

	#sort {
		margin-left: 900px;
	}

	#brand {
		margin-left: 750px;
	}

	.card {
		/* Add shadows to create the "card" effect */
		//box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
	}

	.card:hover {
		//box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the card container */
	.cardcontainer {
		padding: 2px 16px;
	}


	button {
		cursor: pointer;
	}

	.row-wrapper {
		display: flex;
		justify-content: space-between;
		max-width: 82%;
	}

	.search-bar {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		.wrapper {
			position: relative;
		}

	}

	.float-right {
		position: absolute;
		right: 5px;
		top: 10px;
	}

	.side-bar {
		padding-top: 20px;
	}

	.category-bar {
		padding-top: 30px;
	}

	.category-tab {
		position: relative;
		margin-bottom: 10px;

		.rectangle {
			width: 10em;
			height: 50px;
			background-color: $tab-color;
			display: flex;
			align-items: center;
			padding-left: 1em;

			a {
				font-size: 26px;
			}
		}
	}

	.category-tab.selected {
		.rectangle {
			background-color: $tab-selected-color;
			color: black;
		}
		.arrow-right {
			border-left: 25px solid $tab-selected-color;
		}
	}

	.category-tab-bg {
		display: flex;
	}

	.first-cate-band {

	}

	.second-cate-band {
		margin-top: 80px;
	}

	.third-cate-band {
		margin-top: 165px;
	}

	.arrow-right {
		width: 0; 
		height: 0; 
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 25px solid $tab-color;
	}

	.item-collection {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		max-width: 700px;
		margin-top: 30px;
		margin-left: 30px;
	}

	.item-card {
		padding-top: 0px;
		position: relative;
		img {
			width: 180px;
			height: 180px;
			object-fit: cover;
			border-radius: 0px 0px 10px 10px;
		}
		margin: 15px 15px 15px 15px;
		border-radius: 0px 0px 10px 10px;
		//border-style: solid;
		//border-width: 1px;
		//border-radius: 0px;
		//border-color: #ccc;
	}

	.card-cap {
		padding: 5px;
		border-radius: 0px 0px 10px 10px;
		background-color: rgba(231, 231, 231, 0.5);
		color: #555;
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

	.bar-wrapper {
		display: flex;
	}

	.brand-bar {
		padding-top: 20px;
		padding-left: 20px;
	}

	.sub-title {
		margin-bottom: 20px;
		color: white;
	}

	.fa-large {
		font-size: 15pt;
	}

	.item-detailed {
		margin-top: 40px;
		color: white;
	}

	.detailed-card {
		width: 80%;
		height: 500px;
		margin-left: 140px;
		background-color: #000;
		box-shadow: 10px 10px 5px #333;
		position: relative;

		.close-btn {
			position: absolute;
			right: -10px;
			top: -10px;
			height: 30px;
			width: 30px;
			border-radius: 15px;
			background-color: red;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			z-index: 1;

			b {

			}
		}

		.drink-name {

		}

		.drink-price {
			color: $theme-sec-color;
			margin-bottom: 40px;
		}

		.drink-description {
			color: #ccc;
		}

		.add-cart-btn {
			border-radius: 0;
			border-color: $theme-sec-color;
			background-color: transparent;
			color: $theme-sec-color;

			i {
				margin-right: 10px;
				font-size: 18px;
			}
		}
	}

	.detailed-img-wrapper {
		padding: 0;

		img {
			width: 100%;
			height: 500px;
			object-fit: cover;
		}
	}

	.detailed-info-wrapper {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 40px;
	}

	.cart-popup {
		position: absolute;
		right: 0px;
	}
	
	.pic {
		cursor: pointer; 
		-webkit-filter: drop-shadow(5px 5px 5px #111);
		filter: drop-shadow(5px 5px 5px #111);
	}
	.category-tab {
		cursor: pointer; 
	}
	.plussign {
		cursor: pointer; 
		background-color: transparent;
	}
	.select {
		cursor: pointer; 
	}


}



@import 'sass/login.scss';