/*

File: navbar.css

Version 0.5
Author: You Jing

Sets the design and layout for the navigation bar 
Contains media queries to change the layout based on size of screen
*/
@import 'sass/variables.scss';

#navBar {
	.navbar {
		margin: 0;
		height: 50px;
		display: flex;
		align-items: center;
		border-color: white;
		border-width: 0;
		border-radius: 0;
		background-color: black;
		color: white;
		opacity: 0.8;
		position: relative;
		padding-left: 20px;

		@media screen and (max-width: $mobile-break-point) {
			margin-bottom: 0;
			position: fixed;
			z-index: 100;
			width: 100%;
		}
	}

	.brand {
		font-size: 18px;
		margin-right: 10px;
	}

	.navtab {
		font-size: 14px;
		height: 100%;
		display: flex;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
		@media screen and (max-width: $mobile-break-point) {
			display: none;
		}
	}

	.navtab-mobile {
		@media screen and (min-width: $mobile-break-point) {
			display: none;
		}
		display: flex;
		align-items: center;
	}

	.mobile-menu {
		//display: none;
		position: absolute;
		z-index: 100;
		background-color: grey;
		width: 100%;
		color: grey;
		top: 50px;
	}

	.mobilemenu-tab {
		width: 100%;
		padding: 10px;

		a {
			width: 100%;
		}
	}

	#mobileMenu {
		//display: none;

	}

	.navtab.active {
		background-color: #aaa;
	}

	.navbar-brand {
		color: white;

		>li>a {
			color: white;
		}
	}

	.navbar-default .navbar-nav {

		&>.active>a {
			color: white;
			background-color: #aaa;
		}

		&>li>a {
			color: white;
		}
	}

	.right-tab-group {
		display: flex;
		position: absolute;
		height: 100%;
		right: 20px;
		top: 0px;
	}

	a {
		text-decoration: none;
	}
	
	#languageBtn {
	   width: 100%;
	   color: #fff;
	   background-color: #000; 
	   border: none;
	   text-decoration: none;

	   @media screen and (max-width: $mobile-break-point) {
			background-color: grey;
		}
	}

	select {
		/*for firefox*/
		-moz-appearance: none;
		/*for chrome*/
		-webkit-appearance:none;
	}

	#languageBtn select {
	   border: 1px solid #ccc;
	   font-size: 16px;
	   color: #000; 
	   height: 34px;
	   width: 268px;
	   outline: none;
	}
	
	#navMenuBtn {
		margin-right: 10px;
	}

	#navCartBtn {
		margin-right: 10px;
	}
}