@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|Lato');

$theme-nav-color: #152441;
$theme-sec-color: #ffd446;
$tab-color: black;
$tab-selected-color: #ffd446;

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$lobster: 'Lobster', cursive;
$pacifico: 'Pacifico', cursive;
$lato: 'Lato', sans-serif;

$mobile-break-point: 800px;